In [5]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import normalize

In [6]:
file_path = r"C:\Users\dipak\OneDrive\desktop\github_ai\ml_with_python\three_module\regression\Regression-Trees\yellow_tripdata.csv"

In [7]:
raw_data = pd.read_csv(file_path)

In [8]:
raw_data.sample(5)

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,mta_tax,tolls_amount,improvement_surcharge,tip_amount
40598,2,1,18.47,2,1,132,79,1,70.0,0.5,6.94,1,16.19
32684,2,1,20.13,2,1,132,87,1,70.0,0.5,6.94,1,16.19
327,2,3,27.85,2,1,132,13,1,70.0,0.5,6.94,1,16.54
32001,2,1,20.13,2,1,132,231,1,70.0,0.5,0.00,1,7.00
36869,2,1,17.22,2,1,132,229,1,70.0,0.5,6.94,1,20.23

In [9]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41202 entries, 0 to 41201
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               41202 non-null  int64
 1   passenger_count        41202 non-null  int64
 2   trip_distance          41202 non-null  float64
 3   RatecodeID             41202 non-null  int64
 4   store_and_fwd_flag     41202 non-null  int64
 5   PULocationID           41202 non-null  int64
 6   DOLocationID           41202 non-null  int64
 7   payment_type           41202 non-null  int64
 8   fare_amount            41202 non-null  float64
 9   mta_tax                41202 non-null  float64
 10  tolls_amount           41202 non-null  float64
 11  improvement_surcharge  41202 non-null  int64
 12  tip_amount             41202 non-null  float64
dtypes: float64(5), int64(8)
memory usage: 4.1 MB